# Игнорирование временных файлов
*.tmp

# Игнорирование файлов двоичной сборки
*.exe
*.dll
*.so
*.dylib

# Игнорирование файлов окружения
.env

# Игнорирование системных файлов IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace